<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label position="fixed">Judul</ion-label>
  <ion-input placeholder="input here" name="title" [(ngModel)]="Judul"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Notes</ion-label>
  <ion-textarea rows="6" cols="30" placeholder="Enter any notes here..." [(ngModel)]="Isi"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label position="fixed">Nilai</ion-label>
  <ion-input placeholder="input here" name="title" [(ngModel)]="Nilai"></ion-input>
  <ion-button (click)="simpan()" expand="full">SAVE</ion-button>
</ion-item>



<ion-content [fullscreen]="true">
  <h1>List</h1>
  <ion-list>
    <ion-item-sliding *ngFor="let data of isiData | async;index as position">
 
      <ion-item>
      <h2 (click)="kliked(data.judul,data.isi,data.nilai,data.tanggal)">{{data.judul}}</h2>
      <h1>|||</h1>
      <p>{{data.isi}}</p>
      </ion-item>
      
      
      
      <ion-item-options side="end">
        <ion-item-option (click)="delete(data.judul)">DELETE</ion-item-option>
      </ion-item-options>
          
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
